.completed {
    text-decoration: line-through;
}

.todo-list {
    background: darkgrey;
    margin: auto;
    border: 2px solid grey;
    min-height: 600px;
}

.todo {
    width: 200px;
    min-height: 200px;
    background: white;
}